div.video {
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 30px;
}

div.my-center-block {
    width: 630px;
    margin: 0 auto;
}

.btn-custom, .btn-custom2 {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-full {
    width: 100%;
    text-align: left;
}

.btn-custom:hover {
    color: #588754;
    background-color: #fff;
}

.btn-custom2:hover {
    color: #20202b;
    background-color: #fff;
}

.btn-custom3 {
    color: #333;
    background-color: transparent;
    border: 1px solid #333;
}
.btn-custom3:hover {
    color: #fff;
    background-color: #20202b;
}

.deskbg {
  min-height: 600px;
  background-image: url('images/sketchcrop.png');
  background-repeat: no-repeat;
  background-size: 610px;
  background-position: center right;
}

.jumbotron {
  color: #fff;
  background-color: #588754;
  margin-bottom: 0;
}

div.jumbotron h1, h2 {
  font-family: 'Roboto Slab', serif;
}

div.content h1, h2 {
  font-family: 'Roboto Slab', serif;
}

div.content {
  padding-bottom: 20px;
}

div.content h1 {
  padding-bottom: 20px;
}

div.content img {
  width: 80px;
}

.signup {
  color: #fff;
  background-color: #20202b;
  padding-bottom: 40px;
}

div.signup h2 {
  padding: 30px 0 30px 0;
}

footer {
  text-align: right;
  padding: 20px 20px;
  color: #d4dce3;
  background-color: #4c6173;
}

div.contents.screenshots {
  padding-bottom: 20px;
}

div.contents.screenshots p {
  font-family: 'Roboto Slab', serif;
  font-size: 140%;
  color: #888;
}
